* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "nunito";
    src: url(../fonts/Nunito-ExtraLight.ttf);
}

/* Header*/



header nav div ul li {
    justify-content: right;
    
}

body {
    background-image: url(../images/Back-2\ ph.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    color: whitesmoke;
}   
/* Fin Header*/

/* Mobile*/
.mobile{
    display: none;
}


/* Fin Mobile*/




/* Inicio */
.inicio__title {
   font-size: 40px;
   padding-bottom: 50px;
}

#Inicio {
    background-color: rgba(23, 31, 59, 0.658);
    padding: 200px;
    font-family: 'nunito';
    font-size: 25px;
    text-align: center;
    color: whitesmoke;
    height: 1000px;
    padding-top: 400px;
    border-bottom-style: ridge;
}

/* Fin Inicio*/

/* Nosotros*/
.nosotros__title {
    font-size: 40px;
    padding-bottom: 50px;
}

#Nosotros {
    font-family: 'nunito';
    font-size: 25px;
    text-align: center;
    color: whitesmoke;
    height: 800px;
    padding: 200px;
    background-color: rgba(0, 112, 112, 0.747);
    border-bottom-style: ridge;
}

.bmg {
    display: flex;
    justify-content: space-between;
}    

#AM {
    width: 75%;
}

.logos {
    width:35% ;
}
.logos:hover {
    transition: 2s;
    transform: scale(70%);
    width: 60%;
}


/* Fin Nosotros*/

/* Servicios*/ 

.servicios__title {
    font-size: 640px;
    padding-top: 100px;
    padding-bottom: 30px;
}

#Servicios{
    font-family: 'nunito';
    font-size: 25px;
    text-align: center;
    color: whitesmoke;
    background: rgba(38, 91, 160, 0.85);
    border-bottom-style: ridge;
    padding-bottom: 100px;
}

.fundsFamily{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-right:200px ;
    padding-left:200px ;
}

.graph {
    width: 300px;
}

.servicios__title-carteras {
    font-size: 60px;
    padding-bottom: 30px;
}
.servicios__carteras {
    padding-left: 200px;
    padding-right: 200px;
}


/* Fin Servicios*/ 

/* Invertir*/

.invertir__title {
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 80px;
}

#Invertir{
    background-color: #898d96a8;
    font-family: 'nunito';
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-bottom-style: ridge;
    padding-bottom: 50px;
} 

.grid  {
    display: grid;
    justify-items: center;
    padding-left: 80px;
    grid-template-columns: 50% 50%;
    text-align: center;
    padding-bottom: 50px;
}    

.invertir__logoYT {
    display: none;
}
/*Fin Invertir*/

/*Contacto*/


.footer{
    padding-top: 50px;
    padding-right: 300px ;
    padding-left: 300px ;
    height: 250px;
    background-color:#212529;
    color: white;
    background-image: linear-gradient(to bottom, #212529, #15202c );
    border-top-style: ridge;
}
.socialMedia{
    text-align: center;
    padding-bottom: 30px;
    
}

ion-icon {
    color: rgb(173, 173, 173);
    font-size: 40px;
}
.facebook:hover {
    color: #3b5998;
}
.twitter:hover {
    color: #00acee;
}
.linkedin:hover {
    color: #0e76a8;
}
.youtube:hover {
    color: #c4302b;
}

@media only screen and (min-width: 480px) and (max-width: 1320px) {
    .mobile{
        display: none;
    }

    #Inicio {
        height: 600px;
        padding-top: 300px;
        border-bottom-style: none;

    }
    .inicio__title {
        padding-top: 0px;
        font-size: 25px;
    }
    .fontSize {
        font-size: 20px;
        text-align: center;
        padding-left: 10px;
    }

    #Nosotros{
        padding-top: 100px;
        background-color: rgba(0, 66, 128, 0.534);
        border-bottom-style: none;
        padding-bottom: 0px;
        height: 600px;
    }

    .nosotros__title {
        font-size: 25px;
    }

    #logos {
        display: none; 
    }
   
    #Servicios {
        padding-top: 50px;
        background-color: rgba(53, 76, 95, 0.836);
        border-bottom-style: none;
    }


    .servicios__title {
        font-size: 25px;
    }

    .servicios__title-carteras {
        font-size: 25px;
    }

    .invertir__logoYT {
        display: inline;
    }

    .invertir__video  {
        display: none;
    }

   
    .invertir__title{
        font-size: 25px;
    }

    

}
    
@media only screen and (min-width: 200px) and (max-width: 480px) {
    body{
        background-image: none;
        background-color:#BBBFCA ;
        
    }
    header{
        padding-bottom:140px ;
        background-color: #BBBFCA;
    }
    .mobile{ 
        display: block;
        background-color: #BBBFCA;

    }
    .inicio__mobile{       
        background-color: #BBBFCA;
    }

    .cuenta__mobile{ 
        display: flex;
        justify-content: center;
        background-color: #BBBFCA;
        padding-bottom: 40px;
        
    }
    
    #Inicio{ 
        display: none;
    }

    #Nosotros {
        display: none;
    }
    .servicios__title{
        font-size: 25px;
    }
    #carterasDiscresionales{
        display: none;
    }  

   
    #Servicios{
        display:none;
    
    }
    .ServiciosMobile{
        text-align: center;
    }

    .tarjetasFondos{
        font-size: 20px;
        color: whitesmoke;
        padding: 35px;
    }
        
    

    #Invertir{
        display: none;
    }

    .operar__mobile{
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 100px;
        text-align: center;
        font-family: 'nunito';
        font-size: 20px;
        height: 300px;
        
    }

    .contacto {
        display: none;
    }

    .textFooter{
        display: none;
    }
    .socialMedia{
       display: flex;
       text-align: center;
    }
}    

    
    





/*# sourceMappingURL=style.css.map */
