.contacto {
    height: 550px;
    padding-top: 80px;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: center;
    color: whitesmoke;
    font-family: 'nunito' bold;
    font-size: 20px;
    text-align: center;
    
}
.consulta__boton {

    padding: 50px;
    font-family: 'nunito';
}

.contacto__title {
    font-family: 'nunito';
    font-size: 50px;
    padding-bottom: 20px;
}